/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #19232D;
    line-height: 1.6;
}

/* Estilos del Navbar */
.navbar {
    background-color: #143447 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FF0066 !important;
    position: relative;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #FF0066 !important;
}

.navbar-dark .navbar-nav .nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #FF0066;
}

.navbar-dark .navbar-brand {
    color: #FFFFFF !important;
}

/* Estilos del Hero */
.hero {
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    padding: 250px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

.hero h2 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
}

.hero .btn {
    background-color: #143447;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px;
}

.hero .btn:hover {
    background-color: #FF0066;
}

/* Secciones generales */
section {
    padding: 60px 0;
    margin-top: 70px;
}

/* Estilos de Servicios */
#services .fas {
    color: #FF0066;
}

/* Estilos de Testimonios */
#testimonials {
    background-color: #F8F9FA;
    margin-top: 0;
}

.testimonial-card {
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

.testimonial-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonial-card .card-title {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #19232D;
}

.testimonial-card .card-subtitle {
    color: #6c757d;
    font-size: 0.9rem;
}

.testimonial-card .card-text {
    font-style: italic;
}

/* Estilos de Contacto */
#contact {
    margin-top: 0;
}

#contact .form-control {
    border-radius: 0;
    border: 1px solid #B0B0B0;
}

#contact .btn {
    background-color: #FF0066;
    color: #FFFFFF;
    border: none;
}

/* Estilos del Footer */
footer {
    background-color: #143447 !important;
    color: #B0B0B0;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

footer a {
    color: #B0B0B0 !important;
    transition: color 0.3s;
}

footer a:hover {
    color: #FFFFFF;
}

/* Botón de Volver al Inicio */
.back-to-top {
    position: fixed;
    bottom: 90px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #143447;
    color: #FF0066;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: pointer;
    transition: opacity 0.3s;
}

.back-to-top:hover {
    opacity: 0.8;
}

.back-to-top i {
    font-size: 24px;
}

/* Botón de WhatsApp */
.whatsapp-container {
    position: fixed;
    bottom: 90px;
    left: 20px;
    text-align: center;
    z-index: 1000;
}

.whatsapp-container p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #075e54;
}

.whatsapp-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp-button img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Estilos de imagen de contacto */
#contact .col-md-6 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.message-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.message-overlay h4 {
    color: #FFFFFF;
    margin: 0;
}

/* Estilos para las tarjetas del blog */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 260px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-height: 150px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-primary {
    background-color: #FF0066;
    border: none;
}

.btn-primary:hover {
    background-color: #FF0066;
}

/* Ajustes adicionales */
#blog-posts {
    padding-top: 40px;
}

#blog-posts h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

#blog-cards {
    margin-top: 40px;
}

/* Estilos para el botón de ver todos los posts */
.btn-custom {
    background-color: #143447; /* Color del botón */
    color: #FFFFFF; /* Color del texto */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition: background-color 0.3s ease;
  }
  
  .btn-custom:hover {
    background-color: #FF0066; /* Color del botón al pasar el mouse */
  }
  